{% extends 'base.html' %}

{% block title %}
    <title> Slot №{{ slot_id }}</title>
{% endblock %}

{% block body %}
    <style>h3{color: antiquewhite}</style>

    <h3>Your balance is {{ balance }} rubles</h3>

    {% if is_win != None %}
        <h3>Your number is {{ number }}</h3>

        {% if is_win %}
            <h3>You are win!</h3>
        {% else %}
            <h3>You are loss!</h3>
        {% endif %}

    {% endif %}

    <form method="post">
    <div class="row">
        <div class="col-3">
            <input class="form-control" type="number" placeholder="Your bid"
                   value="{% if bid  %}{{ bid }}{% else %} 5 {% endif %}" name="bid">
        </div>
    </div>
    <br>
        <button class="btn btn-info" type="submit" value="more" name="btn">More</button>
        <button class="btn btn-info" type="submit" value="less" name="btn">Less</button>
        <button class="btn btn-info" type="submit" value="50" name="btn">50</button>
    </form>

{% endblock %}